.blog-main {
    width: 60*$basic_size;
    
    img {
        height: auto;
        width: 100%;
        margin: 0 0 $basic_margin 0;
    }
}

.blog-side {
    width: 25*$basic_size;
    min-height: 25*$basic_size;
    padding: $basic_size 2*$basic_size;
    text-align: left;

    img {
        width: 21*$basic_size;
        height: auto;
        margin-top: 1*$basic_size;
        max-height: 14*$basic_size;
    }
    
    h3 {
        margin: 0;
    }
}


.blog-next {
    margin-right: 0;
}
.nav-container a {
    text-decoration: none;
}

.blog-side:hover,
.blog-side:focus,
.blog-side:active {
    background-color: owneon-color( 'fg' );
    
    h3 {
        color: owneon-color( 'accent-strong' );
    }
}

#blog-description {
    min-height: $strip_height;
    line-height: $strip_height;
    
    h2 {
        display: inline-block;
        float: left;
        padding: 0 2rem;
        margin-bottom: 0;
    }
    
    p {
        margin: 0;
    }
}

.taxonomy-description {
    display: inline-block;
    float: left;
}

#prev-container {
    clear: both;
}

/* fix issues with additional space after header due to line-height */
.section-header {
    line-height: 0;
    
    h1, nav {
        line-height: $font__line-height-body;
    }
    h1 {
        margin: 0;
    }
}