#background {
  background-image: url('img/background.jpg');
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.foreground {
    background-color: owneon-color('bg');
    margin: $basic_margin $basic_margin 0 0;
/*     box-shadow: 2px 2px 7px rgba(0,0,0,0.70); */
}

.invisible {
    margin: $basic_margin $basic_margin 0 0;
    visibility: hidden;
}