.section {
    padding-top: 6.5*$basic_size; /*4.5 for headline, 2 as separator*/
    min-height: 100*$basic_size;
    text-align: center;
}

.content-centered {
    display: inline-block;
    margin-right: -1*$basic_margin;    /* correct for right margin of foreground elements */
}

#blog .content-centered {
    margin-right: 0;    
}

.full-width {
    width: 100%;
}

.fixed-width {
    width: 90*$basic_size;
}
.slider-item {
    display: inline-block;
    vertical-align: top;
    float: left;
}