.widget {
        padding: $basic-size;
        overflow: auto;
        @include font-size($font-size-small);
        
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
	
	h2 {
            margin-bottom: $basic-size;
        }
        
        ul, ol {
            margin: 0 0 $basic-size $basic-size;
            padding: 0;
            padding-left: $basic-size;
        }
        
        .collapsing.archives {
            list-style: none;
            padding-left: 0;
            
            & .sym {
                margin-right: 3%;
            }
        }
        
        input[type="text"],
        input[type="search"]{
            width: 100%;
        }
        input[type="submit"] {
            float: left;
        }
        
        input[name="unsubscribe"] {
            margin: 0;
        }
        
        .search-submit {
            margin-top: $basic_margin;
        }
}
