$basic_size: 10/16 *1rem;
$basic_margin: 2*$basic_size;

$strip_height: 4.5*$basic_size;
$input_height: 3*$basic_size;       /*height for input fields and buttons*/

$size__site-main: 96*$basic_size;
$size__site-sidebar: 26*$basic_size;