.alignleft {
	display: inline;
	float: left;
	margin-right: 2*$basic-size;
        margin-left: 0;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 2*$basic-size;
        margin-right: 0;
}

.aligncenter {
	clear: both;
	@include center-block;
}
