.sticky {
	display: block;
}

/*.hentry {
	margin: 0 0 1.5em;
}*/

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

/*.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}*/

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

article, .comments-area, .site-footer {
        padding: 2*$basic_size;
}

.entry-meta, .simple-footnotes, .site-footer {
        @include font-size($font-size-small);
        text-align: left;
}

.entry-header {
    margin-bottom: $basic_size;
}

.simple-footnotes {
    margin-bottom: 2*$basic_size;
}

.notes {
    @extend h3;
    margin: 0 0 $basic_size;
}